.header {
    align-items: center;
    font-family: 'Darker Grotesque', sans-serif;
    display: flex;
    height: 64px;
    border-bottom: 2px solid #8B8B8B;
    padding: 0 32px;
    justify-content: space-between;
    color: #1D191C;
}

.header h1 {
    font-weight: bold;
    font-size: 36px;
}

.header nav {

}

.header .link {
    margin-left: 32px;
    font-size: 36px;
}

.header .link:first-child {
    margin-left: 0;
}
